# Versions compatible with Python 3.6 / Ubuntu 18.04
asgiref==3.4.1               # Django 3.2-compatible
Django==3.2.25               # last LTS that runs on Python 3.6
django-ckeditor==5.9.0
django-cleanup==5.2.0
django-js-asset==1.2.2
django-modeltranslation==0.18.11
django-ranged-response==0.2.0
django-simple-captcha==0.5.17
django-user-agents==0.4.0
mysqlclient==1.4.6
Pillow==10.3.0
sqlparse==0.4.4
pytz==2023.3                # tzdata not needed; pytz works on Py 3.6
ua-parser==0.16.1
user-agents==2.2.0
