{% extends "musicae_base/base.html" %}
{% load i18n %}
{% load static %}
{% load get_item %}
{% block extraHead %}
<script src="{% static 'musicae_base/slide.js' %}"></script>
{% endblock extraHead %}


{% block content %}

<div class="w3-padding"> 
<h5>{% trans "Добре дошли на сайта на Fundamenta musicae."%}</h5>
</div>

{% for newsGrp in newsListBig %}
{% with loopInd=forloop.counter0|stringformat:"s" %}
{# {{newsGrp}}<br/>{{newsGrp|get_item:"show_news"}}<br/><br/> #}

<!---->
{% if newsGrp|get_item:"show_news" %}

<div class="w3-center"><h3>{{newsGrp|get_item:"news_name"}}<br/></h3>
{% if newsGrp|get_item:"show_arrows" %}
<button class="w3-button mus-hover-ochre w3-medium" onclick="plusDivs(-1, {{loopInd}})">&#10094;</button>
<button class="w3-button mus-hover-ochre w3-medium" onclick="plusDivs(+1, {{loopInd}})">&#10095;</button>
{% endif %}
</div>

<div class="w3-row w3-margin-bottom newsGrpParent newsGrpParent" id="{{'newsGrpParent_'|add:loopInd}}">
{% for news_grp_small in newsGrp|get_item:"news_nested" %}
<div class="{{'slide_container'|add:loopInd}} w3-animate-opacity">
{% for news in news_grp_small %}
<div class="w3-third w3-margin-bottom">
    <div class="w3-card-4 newsLarge" style="margin:auto"> 
    {% if news.image %}
    <div class="news-img" style="background-image: url('{{news.image.url}}');" >
    </div>
    {% endif %}
    <header class="w3-container mus-highlight w3-center breakword">
      <h5>{{news.title}}</h5>
      <h6>{{news.added|date:'d.m.Y'}}</h6>  
    </header>
    <div class="news-summary">
    {{news.content}}
    <a href="/news/{{news.pk}}" class="news-more"><div class='w3-brown w3-round-xxlarge w3-padding' style='display:inline'>{% trans "Прочети още"%}</div></a>
    </div>
    </div>
</div>
{% endfor %}
</div>
{% endfor %}
</div>

{% endif %}
{% endwith %}
{% endfor %}

<div class="w3-content w3-large">
{% if links %}
<div class="w3-center"><h3>{% trans "Връзки"%}</h3></div>
<ul>
{% for link in links %}
<li><a href="{{link.url}}" target="_blank">{{link.text}}</a></li>
{% endfor %}
</ul>
{% endif %}
</div>


{% endblock content %}