{% extends "musicae_base/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="w3-row w3-section">

<div class="w3-quarter w3-container">
<h2>{{member.name}}</h2>
<h3><i>{{member.title}}</i></h3>
{% if member.image %}
<img class="w3-border w3-padding" src="{{member.image.url}}" style="max-width:100%"/>
{% endif %}
</div>


<div class="w3-rest w3-container w3-section">
  <h4>{%trans "Биография"%}</h4>
  <p>{{member.bio}}</p>
  <hr>
  <h4>{%trans "Текуща дейност"%}</h4>
  <p>{{member.currentResearch}}</p>
  <hr>
  {% if member.publications.exists %}
  <h4>{%trans "Публикации"%}</h4>
  <ul>
  {% for pub in member.publications.all %} 
  <li><a href="/publications/{{pub.pk}}">{{pub.title}}</a>, {{pub.get_ptype_display}}, {{pub.published}} </li>
  {% endfor %}
  </ul>
  {% endif %}
</div>
</div>


{% endblock content %}