{% extends "musicae_base/base.html" %}
{% load i18n %}

{% block content %}

<div class="w3-center"><h2>{% trans "Новини"%}</h2></div>

<div class="w3-row w3-margin-bottom">
{% for news in object_list %}
<div class="w3-third w3-margin-bottom">
    <div class="w3-card-4 newsLarge" style="margin:auto"> 
    {% if news.image %}
    <div class="news-img" style="background-image: url('{{news.image.url}}');" >
    </div>
    <!--img src="{{news.image.url}}" alt="img" style="width:100%"; width: 100%; object-fit: contain'-->
    {% endif %}
    <header class="w3-container mus-highlight w3-center">
      <h3>{{news.title}}</h3>
      <h5>{{news.added|date:'d.m.Y'}}</h5>  
    </header>
    <div class="news-summary">
    {{news.content}}
    <a href="/news/{{news.pk}}" class="news-more"><div class='w3-brown w3-round-xxlarge w3-padding' style='display:inline'>{% trans "Прочети още"%}</div></a>
    </div>
    </div>
</div>

{% endfor %}
</div>

{% endblock content %}