{% extends "musicae_base/base.html" %}
{% load i18n %}



{% block content %}
<h3>{{news.title}}</h3>
<div class="w3-container noPaddingSmall">
<span class="w3-left">{% trans "Добавена: "%}{{news.added|date:'d.m.Y'}}</span>  
{% if news.changed %}
<span class="w3-right">{% trans "Последна промяна: "%}{{news.changed|date:'d.m.Y'}}</span>
</div>
{% endif %}
<hr/>
<div class="w3-container noPaddingSmall w3-justify">
{% if news.image %}
<img src="{{news.image.url}}" alt="img" class="w3-mobile news-det-img"/>
{% endif %}

{{news.content}}
</div>

{% endblock content %}
