{% extends "musicae_base/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="w3-row w3-section">

<div class="w3-quarter w3-container sticky-sidebar">
<h3>{{person.name}}</h3>
<h5><i>{{person.title}}</i></h5>
{% if person.image %}
<img class="w3-padding" src="{{person.image.url}}" style="max-width:100%"/>
{% endif %}
</div>


<div class="w3-rest w3-container w3-section noPaddingSmall w3-justify">
  {% if person.bio %}
  <h4>{%trans "Биография"%}</h4>
  <p>{{person.bio}}</p>
  <hr>
  {% endif %}
  {% if person.currentResearch %}
  <h4>{%trans "Професионални интереси"%}</h4>
  <p>{{person.currentResearch}}</p>
  <hr>
  {% endif %}
  {% if person.publication_set.exists %}
  <h4>{%trans "Публикации"%}</h4>
  <ul>
  {% for pub in person.publication_set.all %} 
  <li><a href="{% url 'publications_det' pub.pk %}">{{pub.title}}</a>, {{pub.get_ptype_display}}, {{pub.published_year}} </li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if person.seminar_set.exists %}
  <h5><a href="{% url 'seminars' person.pk %}">{%trans "Преподавани дисциплини"%}</a></h5>
  {% endif %}
</div>
</div>


{% endblock content %}
