{% extends "musicae_base/base.html" %}

{% load i18n %}


{% block meta_title %}{% trans "Колегия" %} - Fundamenta Musicae{% endblock %}

{% block meta_description %}{% trans "Тук можете да се запознаете с настоящите членове на Fundamenta musicae: да видите обзор на техните биографии, професионални интереси и да разгледате част от техните публикации." %}{% endblock meta_description %}
{% block meta_keywords %}{% trans "Fundamenta musicae, членове Fundamenta musicae, публикации Fundamenta musicae, музикален философ, музикални философи, философия НМА, музикална философия НМА" %}{% endblock meta_keywords %}


{% block content %}
<div class="w3-container w3-margin-bottom">
<h2>{%trans "Колегия"%}</h2>
</div>

<div class="pubTableWrap">
<table class="w3-table-all w3-hoverable w3-margin-bottom" id="pubTable"> 
  <thead>
    <tr class="mus-table-darker">
      <th  class="w3-large">
        {% trans "Име" %}
      </th>
      <th  class="w3-large">
        {% trans "Описание" %}
      </th>
    </tr>
  </thead>
{% for member in object_list %}
  
  <tr onclick="window.open('{% url 'members_det' member.pk %}', '_self');" style="cursor:pointer" class="w3-large mus-hover-ochre">
    <td>{{ member.name }}</td>
    <td>{{ member.short_description }}</td>
  </tr>
  
{% endfor %}
</table>
</div>

{% endblock content %}
