{% load static %}
{% load i18n %}
<a href="members/{{member.pk}}" class="div-link">
<div class="w3-container w3-card-4 mus-hover-ochre w3-margin-bottom">
    <div class="w3-center">
    <img class="w3-circle w3-center w3-section" src="{% if member.image %}{{member.image.url}}{% else %}{% static 'musicae_base/Profile_avatar_placeholder_large.png' %}{% endif %}" style="max-width:150px"/>
    </div>
    <div class="w3-center">
    <h4>{{ member.name }}</h4>
    <p><i>{{ member.title }}</i></p>
    </div>
    <p>{{ member.short_description}}</p>
</div>
</a>
