{% extends "musicae_base/base.html" %}
{% load i18n %}

{% load static %}
{% block extraHead %}
<script src="{% static 'musicae_content/publication_list.js' %}"></script>
{% endblock extraHead %}


{% block meta_title %}{% trans "Публикации" %} - Fundamenta Musicae{% endblock %}

{% block meta_description %}{% trans "Тук можете да разгледате и да свалите публикации от членове на Fundamenta, които са качени на сайта." %}{% endblock meta_description %}
{% block meta_keywords %}{% trans "Fundamenta musicae, публикации, статия, монография, сборник, книга, учебник, дисертация, дипломна работа, музикална, философия, педагогика" %}{% endblock meta_keywords %}

{% block content %}

<h2 class="w3-margin-bottom">{% trans "Публикации" %}<br/></h2>

<form action="/publications" name="searchForm"  method="post" onsubmit="return validateForm(event)"> {% csrf_token %}
<div class="w3-bar mus-table-darker w3-border-top w3-border-left w3-border-right w3-padding searchBar">
  <input name="title" type="text" class="w3-input w3-bar-item  w3-white w3-mobile w3-border w3-show" style="width: 500px;" placeholder="{% trans "Заглавие"%}" />
  <button type="submit" id="search1" class="w3-bar-item w3-button mus-hover-ochre mus-highlight w3-mobile w3-show">{% trans "Търси" %}</button>
  <button class="w3-bar-item w3-button mus-hover-ochre mus-highlight w3-mobile w3-right" onclick="accordeonFlipSearch('1')" type="button">{% trans "Детайлно търсене" %} <span id="arrowR1" class="w3-hide">▶</span><span id="arrowD1" class="w3-show-inline">▼</span></button>
</div>
<div id="filter1" class="w3-row-padding w3-hide mus-table-darker w3-border-bottom w3-border-left w3-border-right">
<!---->
{% for i in serachRange%}
<div class="w3-row w3-margin-top {% if i == 0 %}w3-show{% else %}w3-hide{% endif %}" id="srch-{{i}}">
  <select name="srch-logic-{{i}}" class="w3-select w3-border w3-col" style="width:75px"> 
      <option value="1">{% trans "И" %}</option>
      <option value="0">{% trans "ИЛИ" %}</option>
      <option value="-1">{% trans "И НЕ" %}</option>
  </select>
  <select name="srch-type-{{i}}" class="w3-select w3-border w3-col" style="width:150px"> 
      <option value="title">{% trans "Заглавие" %}</option>
      <option value="authors__name">{% trans "Автор" %}</option>
      <option value="topic__text">{% trans "Тема" %}</option>
      <option value="keywords__text">{% trans "Ключови думи" %}</option>
      <option value="publisher__name">{% trans "Издателство" %}</option>
  </select>
  <div class="w3-rest w3-mobile">
  <input name="srch-txt-{{i}}" id="srch-txt-{{i}}" type="text" class="w3-white w3-mobile w3-border w3-input w3-col"/>
  </div>
</div>
{% endfor %}
<div class="w3-row w3-center">
    <a id="btn-less" class="w3-button mus-hover-ochre w3-large w3-circle w3-large mus-highlight w3-disabled" style="width:43px"  onclick="hidePrev()"><b>-</b></a>
    <a id="btn-more" class="w3-button mus-hover-ochre w3-large w3-circle w3-large mus-highlight w3-margin-left w3-enabled" style="width:43px" onclick="showNext()"><b>+</b></a>
</div>

<div class="w3-row">
  <div class="w3-threequarter">
    {% trans "Вид" %}: <a href="javascript:void(0)" class="w3-small" onclick="checkAll('types')">({% trans "избери всички" %})</a><br/>
    <div class="flex-container">
    {% for type in types %}
    <label for="type_{{type}}" class="flex-inner">
    <input class="w3-check" name="types" type="checkbox" checked="checked" id="type_{{type}}" value="{{type}}">
    {{type.label}}
    </label><br/>
    {% endfor %}  
    </div>
  </div>
  <div class="w3-quarter">
    {% trans "Издадена" %}:<br/><br/>
    <label for="sdate">{% trans "От" %}</label>
    <select type="text" id="sdate" name="sdate" class="w3-select w3-border year-select" autocomplete="off">
      <option value="{{ystart}}" selected>{{ystart}}</option>
      {% for i in yrange %}
      <option value="{{i}}">{{i}}</option>
      {% endfor %}
      <option value="{{yend}}" >{{yend}}</option>
    </select>
    <br/><br/>
    <label for="edate">{% trans "До" %}</label>
    <select type="text" id="edate" name="edate" class="w3-select w3-border year-select" autocomplete="off">
      <option value="{{ystart}}" >{{ystart}}</option>
      {% for i in yrange %}
      <option value="{{i}}">{{i}}</option>
      {% endfor %}
      <option value="{{yend}}" selected>{{yend}}</option>
    </select>
  </div>
</div>



<div class="w3-row w3-center w3-padding">
<button type="submit" id="search2" class="w3-button mus-hover-ochre mus-highlight w3-mobile w3-hide w3-large" style="margin:auto" style="z-index:0">{% trans "Търси" %}</button>
</div>
</div>
<input type="number" id="detailed" name="detailed" class="w3-hide" value="0"/>
</form>

{% if publications %}
<div class="pubTableWrap">
<table class="w3-table-all w3-hoverable w3-margin-bottom" id="pubTable"> 
  <thead>
    <tr class="mus-table-darker">
      <th  class="w3-large" onclick="sortTable(0, 'pubTable')">
        {% trans "Заглавие" %}
        <span id="thArrowD0" class="w3-hide">▼</span>
        <span id="thArrowU0" class="w3-hide">▲</span>
      </th>
      <th  class="w3-large" onclick="sortTable(1, 'pubTable')">
        {% trans "Автор" %}
        <span id="thArrowD1" class="w3-hide">▼</span>
        <span id="thArrowU1" class="w3-hide">▲</span>
      </th>
      <!--
      <th  class="w3-large" onclick="sortTable(2, 'pubTable')">
        {% trans "Тема" %}
        <span id="thArrowD2" class="w3-hide">▼</span>
        <span id="thArrowU2" class="w3-hide">▲</span>
      </th>
     -->
      <th class="w3-right-align w3-large" onclick="sortTable(2, 'pubTable')">
        {% trans "Публикувана" %}
        <span id="thArrowD2" class="w3-show-inline">▼</span>
        <span id="thArrowU2" class="w3-hide">▲</span>
      </th>
    </tr>
  </thead>
{% for publication in publications %}
  
  <tr onclick="window.open('{% url 'publications_det' publication.pk %}', '_self');" style="cursor:pointer" class="w3-large mus-hover-ochre">
    <td>{{publication.title}}</td>
    <td>{% for member in publication.authors.all %}{{member.name}}&nbsp;{% endfor %}</td>
    <!--<td>{{publication.topic.text}}</td>-->
    <td  class="w3-right-align">{{publication.published_year}}</td>
  </tr>
  
{% endfor %}
</table>
</div>
{% else %}
<h3>{% trans "Няма намерени публикации" %}</h3>
{% endif %}

<script>
var srchDisplayed = 0

document.getElementById("detailed").value = 0;

function showNext(){
  console.log(srchDisplayed)
  if (srchDisplayed < {{searchMax|add:"-1"}}){
    var next = document.getElementById("srch-"+(srchDisplayed+1).toString());
    next.className = next.className.replace("w3-hide", "w3-show");
    srchDisplayed += 1;
    if (srchDisplayed == {{searchMax|add:"-1"}}) {
      var btnNext = document.getElementById("btn-more");
      btnNext.className = btnNext.className.replace("w3-enabled", "w3-disabled");
    }
    if (srchDisplayed > 0) {
      var btnPrev = document.getElementById("btn-less");
      btnPrev.className = btnPrev.className.replace("w3-disabled", "w3-enabled");
    }
    detailed.value=srchDisplayed+1
  }
}

function hidePrev(){
  console.log(srchDisplayed)
  if (srchDisplayed > 0){
    var next = document.getElementById("srch-"+(srchDisplayed).toString());
    next.className = next.className.replace("w3-show", "w3-hide");
    document.getElementById("srch-txt-"+(srchDisplayed).toString()).value = ''
    srchDisplayed -= 1;
    if (srchDisplayed == 0) {
      var btnPrev = document.getElementById("btn-less");
      btnPrev.className = btnPrev.className.replace("w3-enabled", "w3-disabled");
    }
    if (srchDisplayed < {{searchMax|add:"-1"}}) {
      var btnNext = document.getElementById("btn-more");
      btnNext.className = btnNext.className.replace("w3-disabled", "w3-enabled");
    }
    detailed.value=srchDisplayed+1
  }
}


function validateForm(evt){
  var sdate = document.forms["searchForm"]["sdate"].value;
  var edate = document.forms["searchForm"]["edate"].value;

  
  if (evt.submitter.id=="search1" && 
    document.getElementsByName("title")[0].value.length==0){
      evt.preventDefault();
      return false;
  }

  if (sdate > edate){
    alert('{% trans "Началната дата трябва да е преди крайната дата." %}');
    return false;
  }
}


</script> 


{% endblock content %}