{% extends "musicae_base/base.html" %}
{% load i18n %}

{% block content %}
<div class="pubTitle">{{publication.title}}</div>
<div class="pubText w3-margin-bottom">
{% trans "Автор:" %} 
{% for prof in publication.authors.all %}
{% if publication.internal %}
<a href="/members/{{prof.pk}}">{{prof.name}}</a> 
{% else %}
{{prof.name}}
{% endif %}
{% endfor %}
| {{publication.get_ptype_display}}
| {% trans "Тема:" %} {{publication.topic.text}}
| {% trans "Добавена:" %} {{publication.added|date:'d.m.Y'}}
</div>
<div class="w3-container w3-margin-bottom noPaddingSmall">
{{publication.abstract}}
</div>
{% if publication.language %}
<h5>
{% trans "Език:" %} {{publication.language}}
</h5>
<h5>
{% endif %}  
{% if publication.bib_info %}
<h5>
{% trans "Цитирай:" %} {{publication.bib_info}}
</h5>
<h5>
{% endif %}  
{% trans "Ключови думи:" %} {% for keyword in publication.keywords.all %}<div class="w3-border w3-round-xxlarge w3-container w3-show-inline">{{keyword.text}}</div> {% endfor %}
</h5>
<br/><br/>
{% if publication.file %}
<a href="{{publication.file.url}}" target="_blank" download="{{publication.filename}}" class="w3-button w3-border w3-large">{% trans "Свали" %}</a>
{% endif %}
{% endblock content %}