{% extends "musicae_base/base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans "Правилник" %}</h2>
{% blocktrans %}
<p>Правилник за устройството и дейността на Център</p>
<p>Fundamenta Musicae</p>
<p>&nbsp;&nbsp;</p>
<p>I. Общи положения</p>
<p>Чл.1. Този правилник регламентира устройството, дейността, управлението и финансирането на Център Fundamentamusicae (FM) в структурата на Национална Музикална Академия „проф. Панчо Владигеров” (НМА).</p>
<p>Чл.2. Учредяването и уредбата на FM са основани на:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; а) Закона за висшето образование (ЗВО);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; б) Закона за авторските и сродните права (ЗАСП);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; в) Нормативните актове на НМА.</p>
<p>II. Устройство</p>
<p>Чл.3. FM e научноизследователски център към НМА, съставен от преподаватели, доктори, докторанти и студенти.</p>
<p>Чл.4. FM е обслужващо звено към НМА по смисъла на ЗВО чл.25 ал3.</p>
<p>Чл.5. (1) FM се създава, преобразува и закрива с решение на академичния съвет на НМА.</p>
<p>(2) Центърът се помещава и използва предоставената му от НМА база.</p>
<p>III. Дейност</p>
<p>чл.6. (1) Основната форма на дейност е извън-аудиторен редовен семинар при активното участие на всеки член на центъра. Дейността на FM се управлява от ръководител, съблюдава се от секретар и се осъществява от неговите членове (колегия).</p>
<p>(2) Лицата, нечленове или кандидат-членове на Центъра не участват в неговите семинари. Те се запознават с дейността на Центъра под формата на консултации с членове-преподаватели на FM или в изрично организирани „дни на отворена врата”.</p>
<p>IV. Управление и членство</p>
<p>чл.7. (1) Ръководителят и секретарят:</p>
<p>a) Са лица на трудов договор към НМА и членове на FM;</p>
<p>b) Избират се и се определят:</p>
<p>a. От членовете на FM;</p>
<p>b. На редовно заседание на FM в присъствието на цялата колегия;</p>
<p>c. За неопределено време, докато не бъде проведен друг избор.</p>
<p>(2) Ръководителят носи отговорност да:</p>
<p>a) Ръководи и отговаря за дейността на центъра;</p>
<p>b) Представлява центъра.</p>
<p>(3) Секретарят носи отговорност да:</p>
<p>a) Отговаря за реда на провежданите заседания;</p>
<p>b) Отговаря за използването по предназначение предоставената на центъра материално-техническа база и за нейното съхраняване;</p>
<p>c) Представлява центъра при отсъствието на Ръководителя или при негово съгласие.</p>
<p>чл.8. (1) Колегията е съставена от лица, които към момента на зачисляването им към центъра са преподаватели, доктори, докторанти, специализанти или студенти в НМА</p>
<p>(2) Приемането в членство се осъществява след събеседване между кандидата и преподавател-член на FM, който по свое усмотрение го представя на цялата колегия и го предлага за член на Центъра.</p>
<p>(3) Членството в FM няма давност. То се прекратява само след доброволно оттегляне и/или поради здравословни причини.</p>
<p>(3a) За доброволно оттегляне се приема и неучастие в три срещи на FM без предварително съобщени основателни причини.</p>
<p>V. Финансиране</p>
<p>Чл. 9. (1). Центърът се финансира със средства от частни и/или фирмени дарения и спонсорство, одобрени и финансово обезпечени научни проекти.</p>
<p>(2) Материалната база на центъра се осигурява както от НМА, така и от външни юридически или частни лица.</p>
<p>VI. Допълнителни, преходни и заключителни разпоредби</p>
<p>&amp;1. Внасянето на изменения в този правилник става по реда на неговото приемане и утвърждаване.</p>
</pre>
{% endblocktrans %}
{% endblock content %}