{% extends "musicae_base/base.html" %}
{% load i18n %}
{% load static %}
{% block extraHead %}
<script src="{% static 'musicae_content/seminars.js' %}"></script>
{% endblock extraHead %}

{% block content %}

<h3>{% trans "Дисциплини, преподавани от " %}<a href="/members/{{prof.pk}}" target="_self">{{prof.name}}</a></h3>

{% for sem in seminars %}

{% include "musicae_content/seminar_row.html" %}

{% endfor %}

<!--
{% if ongoing %}
<h3>{% trans "Текущи" %}</h3>
{% for sem in ongoing %}

{% include "musicae_content/seminar_row.html" %}

{% endfor %}
{% endif %}


{% if upcoming %}
<h3>{% trans "Бъдещи" %}</h3>
{% for sem in upcoming %}

{% include "musicae_content/seminar_row.html" %}

{% endfor %}
{% endif %}
-->

{% endblock content %}
