.background {
    width: 100%;
    z-index: -9999;
}

.breakword {
  word-wrap: break-word;
}

.display-wrapper {
    margin: auto;
    max-width: 1000px;
    width: 100%;
}

.flex-container {
  margin: 1em 0;
  display: flex;
  flex-flow: column wrap;
  align-items: space-around;
  height:150px;
}


.flex-inner {
  align-self: flex-start;
}

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond'; /*, sans-serif*/
}
h1{font-size:66px;}
h2{font-size:50px;}
h3{font-size:38px;}
h4{font-size:26px;}
h5{font-size:22px;}
h6{font-size:21px;}
.menu-text{font-size:20px;}
div{font-size:20px;}

.pubTitle{font-size:34px !important;}
.pubText{font-size:24px !important;}

.menuBar {
    position: sticky;
    top: 0;
    width: inherit;
    max-width:inherit;
    overflow: visible;
    z-index: 1;
}


@media (min-width:600px) { 
  .sticky-sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
  }
}

@media (max-width:600px) { 
    .menuBar {
        position: fixed;
    }

    .flex-container {
        flex-flow: column nowrap;
        height:100%;
    }

    .news-det-img {
        width: 100%;
        max-width: 100%;
        margin: 0px 0px 20px;
    }

    .no-padding-small{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
}/**/
/*w3-small is 600px*/

.banner {
    display: block;
    position: relative;
    max-width: 100%;
    background-image: url("big_banner.jpg"); 
    background-size: contain;
}

.banner-text-container {
    position: absolute;
    color: white;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

#banner-text {
  font-size: calc(45px + 2vw);
}
/*
#banner-sub-text{
  font-size: calc(32px + .001vw);
}
*/

@media screen and (max-width:530px) {
    #banner-text {
      font-size: 30px;
    }
  #banner-sub-text{
    font-size: 20px;
  }

}

.transparent {
    opacity: 0;
    max-width: 100%;
    vertical-align: top;
}

.menuIcon {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}

.div-link {
    text-decoration: inherit;
    color: inherit;
}

pre {
  overflow: auto;
}

#menu .w3-button {
  padding-left: 10px;
  padding-right: 10px;
}

.w3-modal-content {
  overflow: auto;
  height: 90%;
}

.tos_btn {
  margin: 0 auto 16px auto;
  width: 100px;
  display: block;
}

.w3-show-inline {
    display: inline-block !important;
}

.newsFlex {
  display: flex;
  flex-direction:  column;
  /*margin-bottom: 20px;*/
}

@media screen and (max-width:990px) {
  .newsFlex { flex-wrap: wrap;  }
}

.newsLarge {
  width:97%
}
.newsSmall {
  width:97%;
  max-width:300px;
}

.news-img{
  height:200px;
  background-size: cover;
}

.news-det-img{
  float: left;
  max-width:50%;
  margin:5px;
  margin-right:20px;
  border: 1px solid black;
}

.news-summary{
  height:200px;
  overflow: hidden;
  position: relative;
  padding: 10px 10px 0px 10px;
}

.news-more{
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0 15px 0; 
  
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, grey);
}

.semArrow {
  width: 50px;
  position: absolute;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.year-select {
  width: 75px;
}

#pubTable thead {
  cursor: pointer;
  position: sticky;
  top: 0;
  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.pubTableWrap {
  overflow:auto; 
  max-height:500px;
}

#id_captcha_1{
  width: 100px;
  text-align: center;
  font-size:24px;
  font-family: "Vera";
}

.contactErrMsg{
  margin: 0px 0px 3px;
  padding: 0px !important;
}

.contactErrMsg ul{
  margin: 0px;
}

.contactResult{
  padding: 15px;
}

/*color theme*/
.mus-background-light{
  background-color: #fdfbdf;
  color: #000;
}

.mus-background-dark {
  color: #FFF;
  background-color: #242a11;
}

body { 
  background-color: #242a11;
}


.mus-background-dark > a{
  color: #b2cbf7;
}

.mus-highlight{
  background-color: #e4ce7b;
  color: #000;
}

.mus-ochre,
.mus-hover-ochre:hover{
  background-color: #dabf58!important;
}

.mus-table-darker{
  background-color: #f2f1df!important;
}

.mus-btn-hover{
  color: #fff;
  background-color: #e4ce7c;
}

