<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">


  <title>Fundamenta Musicae</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load i18n %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'musicae_base/w3.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'musicae_base/musicae.css' %}">
  <script src="{% static 'musicae_base/musicae.js' %}"></script> 
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond&amp;display=swap" rel="stylesheet"> 
  {% block extraHead %}
  {% endblock %}
</head>

<body>

<div class="background mus-background-dark"> 
<div class="display-wrapper">

  {% if showBanner %}
  <div class="banner">
    <img src="{% static 'musicae_base/big_banner.jpg' %}" class="transparent" />
    <div class="w3-container banner-text-container">
      <div id="banner-text">Fundamenta Musicae</div>
      <div id="banner-sub-text"></div>
      <h3 class="banner-sub-text" id="banner-sub-text">{% trans "Център за музикална философия и хуманитаристика" %}</h3>
    </div>
  </div>
  {% endif %}

  {% if menuItems %}
  <div class="menuBar">
  <div class="w3-bar mus-highlight w3-hide-small" id="menu">
      {% for item in menuItems %}
        {% if item.children.exists %}
          <div class="w3-dropdown-hover w3-mobile menu-text">
            <a href="{{ item.target }}" class="w3-button mus-hover-ochre w3-mobile">{{item.text}}</a>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-mobile">
            {% for child in item.children.all %}
              <a href="{{ child.target }}" class="w3-bar-item w3-button w3-hover mus-hover-ochre w3-mobile">{{child.text}}</a>
            {% endfor %}
            </div>
          </div>
        {% else %}
          <a href="{{ item.target }}" class="w3-bar-item w3-button w3-hover mus-hover-ochre w3-mobile menu-text">{{item.text}}</a>
        {% endif %}
        
      {% endfor %}


<div class="w3-right w3-bar-item w3-button" onclick="setLang('en')">
<div class="w3-display-container w3-card-4" style="height:23px;width:35px;left: -6px;">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 30" height="100%">
<clipPath id="s">
  <path d="M0,0 v30 h60 v-30 z"/>
</clipPath>
<clipPath id="t">
  <path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z"/>
</clipPath>
<g clip-path="url(#s)">
  <path d="M0,0 v30 h60 v-30 z" fill="#012169"/>
  <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6"/>
  <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
  <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10"/>
  <path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6"/>
</g>
</svg>
</path>
</div>
</div>

<div class="w3-right w3-bar-item w3-button" onclick="setLang('de')">
 <div class="w3-display-container w3-card-4" style="height:23px;width:37px">
  <div class="w3-black w3-display-topmiddle" style="width:100%;height:33%"></div>
  <div class="w3-red w3-display-middle" style="width:100%;height:33%"></div>
  <div class="w3-yellow w3-display-bottommiddle" style="width:100%;height:33%"></div>
</div> 
</div>

<div class="w3-right w3-bar-item w3-button" onclick="setLang('bg')">
 <div class="w3-display-container w3-card-4" style="height:23px;width:37px">
  <div class="w3-white w3-display-topmiddle" style="width:100%;height:33%"></div>
  <div class="w3-green w3-display-middle" style="width:100%;height:33%"></div>
  <div class="w3-red w3-display-bottommiddle" style="width:100%;height:33%"></div>
</div> 
</div>


  </div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hide-large w3-hide-medium w3-black menuIcon" onclick="flipMenu()">&#9776;</a>
  </div>
  {% endif %}



  <div class="w3-container w3-padding-large mus-background-light">
   {% autoescape off %}
    {% block content %}{% endblock %}
   {% endautoescape %} 
  </div>

  {% block footer %}
  <div class="w3-container mus-background-dark w3-small w3-center w3-padding-24">
  
  &copy; {% now "Y" %}, Fundamenta Musicae
  <br/>
  {% trans "Използвайки уебсайта, приемате " %} <a href="javascript:void(0)" onclick="document.getElementById('tos_modal').style.display='block'">{% trans "условията за ползване" %}</a>.
  <br/>
  {% trans "Уебсайтът използва бисквитки, за да може да функционира." %}
  <br/><br/>
  <span class="w3-tiny">{% trans "уебсайт от Калин Стоянов" %}</span>

  </div>

  <div id="tos_modal" class="w3-modal">
  <div class="w3-modal-content w3-white">
  <div class="w3-container" >
  {% include "musicae_base/tos.html" %}
  <div class="w3-button w3-border tos_btn" onclick="document.getElementById('tos_modal').style.display='none'">OK</div>

  </div>
  </div>
  </div>
  {% endblock %}


</div>
</div>


</body>

</html>